<!DOCTYPE html>
<html>
<head>
    {{! Document Settings }}
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    {{! Page Meta }}
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />

    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {{! Styles'n'Scripts }}
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/normalize.css" />
    <link href='http://fonts.googleapis.com/css?family=Lora|Oxygen:400,700' rel='stylesheet' type='text/css'>
    <link href="/assets/css/post.css" rel="stylesheet">

    {{ghost_head}}

 </head>
<body class="{{body_class}}">
    <div id="page" class="hfeed site">


            {{{body}}}

        <footer id="colophon" class="site-footer" role="contentinfo">
          <a class="site-subscribe" href="{{@blog.url}}/rss">Sign Up!</a>
            <div class="site-info">
                Proudly published with <a class="icon-ghost" href="http://tryghost.org">Ghost</a>
            </div><!-- .site-info -->
        </footer><!-- #colophon -->
    </div><!-- #page -->


    {{ghost_foot}}
    <script type="text/javascript">
        $('.site-title').textArch({
            fullCircle: true,
            radius: 200,
            angleBetweenLetters : 10,
            fitTextToPath : true,
            startAngle : 0,
            inside : false,
            yScale : 1,
            fontScale : 1
        });
    </script>
    <script type="text/javascript" src="/assets/js/index.js"></script>
</body>
</html>
