{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

<header id="masthead" class="site-header" {{#if @blog.cover}}style="background-image: url({{@blog.cover}})"{{/if}}>
        {{#if @blog.logo}}
            <a id="blog-logo" title="{{@blog.title}}" class="home-link" href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="{{@blog.title}}" /></a>
        {{else}}
            <a href="{{@blog.url}}" class="home-link">
                <h1 class="site-title">{{@blog.title}}</h1>
                <h2 class="site-description">{{@blog.description}}</h2>
            </a>
        {{/if}}

</header>

<div id="primary" class="content-area">
    <div id="content" class="site-content" role="main">

        {{! Everything inside the #post tags pulls data from the post }}
        {{#post}}

            <article class="type-post post format-standard hentry">
                <header class="entry-header">
                    <h1 class="entry-title">
                        {{title}}
                    </h1>
                    <div class="entry-meta">
                        <span class="date"><time datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMM YYYY"}}</time></span>
                        <span class="categories-links">{{#if tags}}on {{tags}}{{/if}}</span>
                    </div>
                </header><!-- .entry-header -->

                <div class="entry-content">
                {{content}}
                </div><!-- .entry-content -->

                <footer class="entry-meta">
                <section class="author">
            <h4 class="author-name">{{#if author.website}}<a class="author-website" href="{{author.website}}">{{/if}}{{author.name}}{{#if author.website}}</a>{{/if}}</h4>

            {{#if author.bio}}<p class="author-bio">{{author.bio}}</p>{{/if}}

            {{#if author.image}}<img alt="" class="author-image" src="{{author.image}}">{{/if}}

            {{#if author.cover}}<img alt="" class="author-cover" src="{{author.cover}}">{{/if}}
        </section>

        <section class="share">
            <h4>Share this post</h4>

            <a class="share-twitter" href="http://twitter.com/share?text={{title}}&url={{url absolute='true'}}"
                onclick="window.open(this.href, 'twitter-share', 'height=235,width=550'); return false"><span class="alt">Twitter</span></a>

            <a class="share-facebook" href="https://www.facebook.com/sharer/sharer.php?u={{url absolute='true'}}"
                onclick="window.open(this.href, 'facebook-share','height=296,width=580'); return false"><span class="alt">Facebook</span></a>

            <a class="share-google-plus" href="https://plus.google.com/share?url={{url absolute='true'}}"
               onclick="window.open(this.href, 'google-plus-share', 'height=530,width=490'); return false"><span class="alt">Google+</span></a>
        </section>
        </footer><!-- .entry-meta -->
          <section class="comment">

      <!--Google plus commenting system. If you'd rather have Disqus, get rid of this code, and remove the commenting brackets from the code below-->
      <div class="g-comments" data-href="{{@blog.url}}{{url}}" data-first_party_property="BLOGGER" data-view_type="FILTERED_POSTMOD">Loading Google+ Comments ...
      </div>
      <script async type="text/javascript" src="//apis.google.com/js/plusone.js?callback=gpcb">
      </script>
      <noscript>Please enable JavaScript to view the <a href="https://plus.google.com/">comments powered by Google+.</a>
      </noscript>
      </section>


        <!-- Disqus comments
        <div class="comments">
        <h4>Comments</h4>
        <div id="disqus_thread">
            <form onsubmit="loadDisqus(); return false">
                <input type="submit" value="View comments">
            </form>
        </div>
        <script>
        var disqus_identifier = '{{id}}';
        var disqus_url = '{{url absolute="true"}}';
        </script>
        <noscript>Please enable javascript to <a href="http://disqus.com/?ref_noscript" rel="nofollow">leave comments</a>.</noscript>
        </div>-->


         </article>

        {{/post}}

    </div><!-- #content -->
</div><!-- #primary -->
