{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

<header id="masthead" class="site-header" {{#if @blog.cover}}style="background-image: url({{@blog.cover}})"{{/if}}>
        {{#if @blog.logo}}
            <a id="blog-logo" title="{{@blog.title}}" class="home-link" href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="{{@blog.title}}" /></a>
        {{else}}
            <a href="{{@blog.url}}" class="home-link">
                <h1 class="site-title">{{@blog.title}}</h1>
                <h2 class="site-description">{{@blog.description}}</h2>
            </a>
        {{/if}}
</header>

<div id="primary" class="content-area">
    <div id="content" class="site-content" role="main">

        {{! Everything inside the #post tags pulls data from the post }}
        {{#post}}

            <article class="type-post post format-standard hentry">
                <header class="entry-header">
                    <h1 class="entry-title">
                        {{title}}
                    </h1>
                    <div class="entry-meta">
                        <span class="date"><time datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMM YYYY"}}</time></span>
                        <span class="categories-links">{{#if tags}}on {{tags}}{{/if}}</span>
                    </div>
                </header><!-- .entry-header -->

                <div class="entry-content">
                {{content}}
                </div><!-- .entry-content -->

                <footer class="entry-meta">
                </footer><!-- .entry-meta -->
            </article>

        {{/post}}

    </div><!-- #content -->
</div><!-- #primary -->
